name: Android CI Build APK

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  # Yeh aapko manually run karne ki permission dega 'Actions' tab se
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Grant execute permission to gradlew
      run: chmod +x gradlew

    - name: Build Debug APK
      # Agar aapka project standard Android structure (Android/app) follow karta hai, toh yeh command kaam karegi
      run: ./gradlew assembleDebug --stacktrace

    - name: Upload Debug APK (Artifact)
      uses: actions/upload-artifact@v4
      with:
        name: app-debug-apk-for-download
        # APK ki final location
        path: app/build/outputs/apk/debug/app-debug.apk
