name: Build APK

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Build with Buildozer
      uses: mobsf/mobsf-ci-buildozer@v1.0.0
      with:
        workdir: .
        buildozer_cmd: |
          buildozer android clean
          buildozer android debug
          
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: bin/*.apk
