name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y zip unzip openjdk-17-jdk python3-pip python3-setuptools python3-venv libffi-dev libssl-dev libncurses5 libsqlite3-dev
          pip install --upgrade pip Cython
          pip install buildozer

      - name: Create .android folder and accept licenses
        run: |
          mkdir -p ~/.android && echo '### User Sources for Android SDK Manager' > ~/.android/repositories.cfg
          yes | sdkmanager --licenses || true

      - name: Install Android SDK Build Tools
        run: |
          sdkmanager "platform-tools" "platforms;android-33" "build-tools;36.0.0"

      - name: Set ENV for Buildozer path
        run: |
          echo "ANDROIDSDK=/usr/local/lib/android/sdk" >> $GITHUB_ENV
          echo "ANDROIDNDK=/usr/local/lib/android/sdk/ndk/27.2.12479018" >> $GITHUB_ENV

      - name: Build APK
        run: |
          buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: TicnoDetaRecovery.apk
          path: bin/*.apk
          
